*{
	margin: 0;
	padding: 0;
	user-select: none;
	outline: none;
	font-family: 'Nanum Gothic', sans-serif;
}

html{
	font-size: 10px;
}

html, body{
	width: 100%;
	height: 100%;
	
}

body{
	background-image: url('../img/backgroundcat.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrap{
	width: 100%;
	height: 100%;
	background-color: #0006;	

}

#timer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	/*text-shadow: -4px 0 5px white, 4px 0 5px white, 0px 4px 5px white, 0 -4px 5px white;*/
	text-shadow: 3px 0  #0007, -3px 0  #0007, 0px -3px  #0007, 0 3px  #0007;
	color: rgba(255, 255, 255, 0.85);
}

.time{
	text-align:center;
	font-size:15rem;
	height: 100px;
	line-height: 100px;
}

.col{
	text-align:center;
	font-size:15rem;
	height: 100px;
	line-height: 100px;
	margin: 0 5rem;
	position: relative;
	top: -1rem;
}


form{
	height: 100%;
}

#search{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -10%);
	width: 50%;
	height: 10em;
}

#searchengine{
	color: lightgray;
	/*text-shadow: 1px 0  #FFF9, -1px 0  #FFF9, 0px -1px  #FFF9, 0 1px  #FFF9;*/
	font-size: 2.2rem;
	height: 22%;
}

#searchengine input{
	width: 1.5rem;
	height: 1.5rem;
}

#searchengine img{
	width: 1.8rem;
	height: 1.8rem;
	margin-right: 0.3rem;
}

#searchbar{
	position: relative;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -10%);
	width: 100%;
	height: 78%;
	border: 10px solid white;
	text-align: center;
	background-color: #0002;
	transition: 1s;
	background : linear-gradient(to right, rgba(0, 137, 255, 0.1), rgba(64, 224, 208, 0.1), rgba(255, 140, 0, 0.1), rgba(255, 0, 128, 0.1));
}

#searchbar input{
	width: 100%;
	height: 100%;
	display: block;
	border: none;
	text-align: left;
	line-height: 100%;
	background-color: transparent;
	font-size: 3rem;
	padding-left: 1rem;
	color: white;
}